body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #1E1E1E;
	color: #FFFFFF;
	padding: 20px;
}

header h1 {
	margin: 0;
	font-size: 36px;
	font-weight: bold;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav li:last-child {
	margin-right: 0;
}

nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	color: #CCCCCC;
}

main {
	padding: 20px;
}

.content {
	margin-bottom: 30px;
	border: 1px solid #CCCCCC;
	padding: 20px;
}

.content h2 {
	font-size: 24px;
	margin: 0 0 10px 0;
}

.content p {
	margin: 0;
}

.content a {
	color: #1E1E1E;
	background-color: #CCCCCC;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}

.content a:hover {
	background-color: #1E1E1E;
	color: #FFFFFF;
}

footer {
	background-color: #CCCCCC;
	color: #1E1E1E;
	padding: 20px;
	text-align: center;
}
